@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.createaccount {
 margin-top: 10px;
 margin-left: 100px;
color: white;
  text-decoration: none;
  font-weight: bold;
}


body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1ac8;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  animation: slide-left 1s ease-in-out forwards;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: white;
  animation: slide-right 1s ease-in-out forwards;
}

h1,
h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 1rem 0;
}

label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-left: 100px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 50%;
}


